---
import ChessBoardBlock from "./chessBoardBlock.astro";
import {CHESS_BOARD} from "../game/board";
---
  <article class="ml-10 border-2 border-white w-fit my-2">
    {
      CHESS_BOARD.map((row, i) => (
        <section class="flex">
          {row.map((block, j) => {
            return <ChessBoardBlock color={(i + j) % 2} path = {block !== " " ? `../assets/images/${block}.png`: ""} />;
          })}
        </section>
      ))
    }
  </article>